#adminWrapper{
    height: 79vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dateTime{
    width: 100%;
    text-align: center;
    color: rgba(110, 107, 107, 0.7);
    transform: translateY(15px);
    font-style: italic;
}

#qotd{
    width: 100%;
    margin-top: 30px;
    color: white;
}

#itemsWrapper{
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.adLink{
    text-decoration: none;
    color: var(--glow-color);
    font: 800 40px Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}

#apodLink{
    background-color: rgba(114, 5, 60, 0.8);
    border-radius: 40px;
    color: white;
    height: 20em;
    width: 15em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    
}

#journalLink{
    background-color: rgba(114, 5, 60, 0.8);
    border-radius: 40px;
    color: white;
    height: 20em;
    width: 15em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

#boredLink{
    background-color: rgba(114, 5, 60, 0.8);
    border-radius: 40px;
    color: white;
    height: 20em;
    width: 15em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

span{
    font-size: .8em;
    font-weight: bold;
}

#socialWrapper{
    padding: 0;
    margin: 0;
    width: 100%;
}

img{
    height: 8em;
    width: 10em;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}